* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(17, 17, 17);
}

h1 {
    font-size: 5dvh;
    color: white;
}

lyric {
    display: inline;
    color: rgb(90, 90, 90);
    font-size: 4dvh;
    height: 6.2dvh;
    margin: .8dvh;
    padding: .8dvh;
    background-color: rgb(90, 90, 90);
}

fakelyric {
    display: flex;
    flex-grow: 1;
}

logo {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    border-color: grey;
    border-width: 1dvh;
    border-right-style: double;
}

titles {
    display: flex;
    flex-grow: 2;
    flex-shrink: 1;
    color: white;
    font-size: 4dvh;
    height: 6.2dvh;
    padding: .8dvh;
    /* background-color: rgb(90, 90, 90); */
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

buttons {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    border-color: grey;
    border-width: 1dvh;
    border-left-style: double;
}

#header-container {
    display: flex;
    height: 15dvh;
    border-width: 1dvh;
    border-color: grey;
    border-bottom-style: double;
    border-top-style: double;
    border-left-style: double;
    border-right-style: double;
    justify-content: space-between;
}

#thumbnail {
    height: 10dvh;
    aspect-ratio: 1/1;
    /* border: 0.2em solid grey; */
}

#song-info {
    display: flex;
    align-items: center;
    gap: 2dvh;
}

#song-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#song-name {
    font-size: 1.5em;
}

#song-artist {
    font-size: 1em;
    color: rgb(197, 197, 197);
}



#time {
    display: flex;
    font-size: 2em;
    color: white;
    align-items: center;
    /* margin-right: 1dvh; */
}

#progress {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: last baseline;
    height: 100%;
}


#correct {
    font-size: 2em;
}

#slash {
    font-size: 1em;
    color: rgb(190, 190, 190);
}

#total {
    font-size: 1em;
    color: rgb(190, 190, 190);
}



#lyric-container {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70dvh;
    width: 100dvw;
    /* padding-top: 1.6dvh; */
    border-width: 1dvh;
    border-color: grey;
    border-style: double;
    overflow-y: scroll;
}

#input-container {
    height: 15dvh;
    border-width: 1dvh;
    border-color: grey;
    border-top-style: double;
    border-left-style: double;
    border-right-style: double;
    border-bottom-style: double;
}

#lyric-input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 7dvh;
    text-align: center;
    transition: .075s linear;
}

#alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .alert {
    pointer-events: none;
    background-color: rgb(93, 108, 128);/*rgb(44, 187, 44);*/
    padding: .75em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
    color: white;
  }
  
  .alert:last-child {
    margin-bottom: 0;
  }
  
  .alert.hide {
    opacity: 0;
  }